<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>干窑党史教育活动</title>
    <link rel="stylesheet" href="../assets/css/reset.css">


    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css" rel="external nofollow" target="_blank"
        rel="external nofollow" target="_blank">
    <link rel="stylesheet" href="../assets/css/public.css">

</head>

<body>
    <div id="app">
        <mt-header :title="title">
            <a  class="back" slot="left" href="#">
                <mt-button icon="back" @click="back"></mt-button>
            </a>

        </mt-header>
        <div class="page-part has-header">
            <ul class="exercise-box text-c">
                <a  v-for="item in arr" :key="item.id" :href="item.url"><li>{{item.title}}</li></a>

            </ul>

        </div>
    </div>
    <!-- 依赖库 axios/vue/vue-router -->
    <script src="https://unpkg.com/vue@2.1.10/dist/vue.min.js"></script>


    <!-- 引入组件库 -->
    <script src="https://unpkg.com/mint-ui/lib/index.js" rel="external nofollow" rel="external nofollow"></script>
    <script>
        const vm = new Vue({
            el: "#app",
            data() {
                return {
                    title: '党题天天做',
                    arr:[
                   
                        {title:"返回首页",url:"index.html"},
                        {title:"查看排行榜",url:"rankList.html"},
                        
                       
                    ]

                }
            },
            methods: {
                onClick() {
                    $toast.show("button clicked.")
                },
                back(){
                    history.go(-1)
                }
            }

        })
    </script>
</body>

</html>